.weather-icon-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 48px; /* Add max-width to container */
    margin: 0; /* Remove auto margin to allow left alignment */
}

.weather-icon {
    width: 100%;
    height: auto;
    max-width: 48px; /* Default size for larger screens */
    object-fit: contain; /* Ensure image maintains aspect ratio */
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .weather-icon-container {
        max-width: 32px;
    }
    .weather-icon {
        max-width: 32px; /* Smaller size for tablets */
    }
}

@media screen and (max-width: 480px) {
    .weather-icon-container {
        max-width: 24px;
    }
    .weather-icon {
        max-width: 24px; /* Even smaller size for mobile phones */
    }
}

.search-container {
    margin-bottom: 1rem;
}

.search-input {
    border: thin;
    width: 80%;
}

.range-input {
    width: 50px;
}

.bikepark-name-column {
    width: 250px;
    min-width: 200px;
    position: relative;
}

@media screen and (max-width: 992px) {
    .bikepark-name-column {
        width: 150px;
        min-width: 150px;
    }
}

@media screen and (max-width: 768px) {
    .bikepark-name-column {
        width: 100px;
        min-width: 100px;
    }
}

@media screen and (max-width: 480px) {
    .bikepark-name-column {
        width: 80px;
        min-width: 80px;
    }
}

.distance-column {
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    text-align: right;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.truncate-text:active .mobile-tooltip,
.truncate-text:hover .mobile-tooltip {
    display: block;
}

.mobile-tooltip {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 1000;
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px;
    left: 0;
    top: 100%;
    margin-top: 5px;
} 