<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        Trail Weather
        <img src="/WeatherIcons/95_thunderstorm@4x.png" alt="Thunderstorm Icon" style="width: 24px; height: 24px; ">
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">                
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Trail Weather
            </NavLink>
        </li>       
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
